@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@Umbraco.Field("articlesTitle")
<br>
<br>
	
@{
	var selection = CurrentPage.Site().FirstChild("ArticlesMain").Children("ArticleItem").Where("Visible");
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

